.main-third-section {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.thirdSection {
  height: 100%;
  width: 95%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#sadad{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  font-size: 33px;
  font-family: "Satoshi";
  font-weight: 500;
}

.left1 {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image {
  height: 400px;
  width: 400px;
  position: relative; /* Acts as the reference point */
  overflow: hidden; /* Ensures the image doesn't escape the container */
}


.image img {
  position: absolute; /* Locks the image in place relative to .image */
  top: 0; /* Aligns to the top of the .image div */
  left: 50%; /* Centers the image horizontally */
  transform: translateX(-50%); /* Adjusts for centering */
  height: 100%; /* Ensures full coverage of the container */
  width: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures the image covers the area */
}


@media (max-width: 1200px) {
  .image {
    display: none;
  }

  .about {
    justify-content: center;
  }
}

@media (max-width: 760px) {
  #sadad {
    font-size: 22px;
  }
}

@media (max-width: 544px) {
 #sadad {
    font-size: 18px;
  }
}
