.main-not-found{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.notFound{
    width: 100%;
    height: 100%;
    display: flex;
}

#asdf{
    font-family: "Nohemi";
    font-size: 23px;
}

.textBigMain h1{
    font-size: 22.12vw;
    font-family: "Monique";
    display: flex;
    align-items: center;
}

#sadf{
    font-family: "Nohemi";
}

.textBigMain{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.asd-badges{
    position: fixed;
    top: 0;
    left: 0;
}



.asdsa {
  font-size: 27px;
  width: 100%;
  background: #FFF52E;
  border: 1px solid black;
  font-family: "Nohemi";
  padding: 4px;
}